/* src/App.css */
.App {
  text-align: center;
  background-color: #f8f8f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.App-header h1 {
  margin-bottom: 20px;
  color: #333;
}

/* src/App.css */
.App {
  background: #f9f9f9;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
